@charset "UTF-8";

/* base */
html, body {margin:0;padding:0}
body {font-size:12px;font-family:'Malgun Gothic',-apple-system,BlinkMagSystemFont,'AppleGothicNeoSD','Microsoft NeoGothic','Droid sans',Sans-serif;;letter-spacing:-1px;color:#000;background:#fff}
div, ul, ol, dl, p,
h1, h2, h3, h4, h5, h6,
fieldset, legend,
iframe,
table {margin:0;padding:0;font-size:1em;font-family:'Malgun Gothic',-apple-system,BlinkMagSystemFont,'AppleGothicNeoSD','Microsoft NeoGothic','Droid sans',Sans-serif;;letter-spacing:-1px;color:#000}
ul, ol, dl {list-style:none}
dt, dd, li {margin:0;padding:0}
form {margin:0}
input, select, textarea {font-size:1em;font-family:'Malgun Gothic',-apple-system,BlinkMagSystemFont,'AppleGothicNeoSD','Microsoft NeoGothic','Droid sans',Sans-serif;;color:#000}
img, fieldset, button {border:0}
img {vertical-align:top}
hr {display:none}
em, address, i {font-style:normal}
label {cursor:pointer}
iframe {_vertical-align:top;border:0 none}
iframe.hideFrame, caption, legend, .hide {visibility:hidden;width:0;height:0;margin:0;padding:0;font-size:0;line-height:0;position:absolute;top:-999em;left:-999em}
.displayNone {display:none}
.no-scroll {overflow:hidden}

::-webkit-input-placeholder {color:#bbb}
:-ms-input-placeholder {color:#bbb}
::placeholder {color:#bbb}
.point-color1 {color:#2e89e5}
.point-color2 {color:#fa5165}


/* link */
a, a:visited {text-decoration:none;color:#000}
a:hover, a:active {text-decoration:underline;color:#000}

/* class : radio/checkbox */
input.typeRadio,
input.typeCheckbox {position:relative;width:13px;height:13px;margin:-4px 0 0;padding:0;vertical-align:middle}
/* input.typeText {*margin:-1px 0} */

/* class : 공통 */
.wrap:after {content:"";clear:both;display:block}
.filter {z-index:999;position:fixed;left:0;top:0;width:100%;height:100%;background:#000;filter:alpha(opacity=30);opacity:0.3}
.cursorDefault {cursor:default}

/* skipNav */
.skipNav {z-index:999;position:absolute}
.skipNav li a {position:absolute;top:-999em;left:0;width:148px;height:32px;text-align:center;line-height:33px;background-color:#fee49b}
.skipNav li a:focus,
.skipNav li a:active {top:0;left:0}

/* Header */
#Global {z-index:105;position:relative;width:100%;min-width:1260px;margin:0 0 12px;background-color:#fff}
#Header {z-index:105;position:relative;width:1260px;height:110px;margin:0 auto;padding:24px 0 0;box-sizing:border-box}
#MainBanner {min-width:1260px}

.headerBi {position:absolute;top:0;left:0}
.headerBi>a {display:block;padding:28px 0 24px}
.headerBi__local-img {margin:23px 0 0 10px}

.headerSearch {width:500px;margin:0 auto}
.headerSearch .search {position:relative;height:44px;box-sizing:border-box;border:1px solid #363e4d;border-radius:22px;background-color:#fff}
.headerSearch.on .search {border-radius:22px 22px 0 0}
.headerSearch .searchInput {display:block;width:355px}
.headerSearch .searchInput>input {width:355px;height:41px;margin:0;padding-left:19px;box-sizing:border-box;border:0 none;border-radius:22px 0 0 22px;font-weight:bold;font-size:15px;background-color:#fff;outline:none}
.headerSearch .searchInput>label {position:absolute;top:0;left:0;height:42px;padding-left:20px;font-size:15px;line-height:42px;cursor:text;color:#9096a1}
.headerSearch .searchSubmit {position:absolute;top:4px;right:4px;width:34px;height:34px;padding:0;font-size:0;cursor:pointer;color:transparent;background:url('//image.alba.kr/e/common/2023/header.png') no-repeat 0 0 / 150px auto}

.headerPopular {width:650px;margin:0 auto;text-align:center}
.headerPopular>li {display:inline-block;margin:0 5px 0 7px;font-size:12px}
.headerPopular>li>a {display:block;padding:10px 15px;color:#777e8c}

.headerLink {position:absolute;top:8px;right:-8px}
.headerLink>li {position:relative;float:left}
.headerLink>li::before {content:"";position:absolute;top:11px;left:0;width:1px;height:12px;background-color:#d3dae6}
.headerLink>li:first-child::before {content:none}
.headerLink>li>a {display:block;padding:8px 12px;font-size:13px;color:#4d5260}
.headerLink>li em.sns {display:inline-block;width:15px;height:15px;font-size:0;vertical-align:top;color:transparent;background:url('//image.alba.kr/sns/icon_sns_pc_202104.png') no-repeat 0 0 / 182px auto}
.headerLink>li em.sns--facebook {background-position:-37px -49px}
.headerLink>li em.sns--naver {background-position:-130px -49px}
.headerLink>li em.sns--kakao {background-position:-19px -49px}
.headerLink>li em.sns--apple {background-position:-112px -49px}

/* 통합검색 자동완성 */
.ark {z-index:105;position:absolute;left:-1px;top:42px}
#arkArea {left:auto;right:0}
.ark_wrap {display:none;overflow:hidden;position:relative;width:500px;letter-spacing:-1px;text-align:left;box-sizing:border-box;border:1px solid #363e4d;border-top:none;border-radius:0 0 22px 22px;background-color:#fff}
.ark_wrap::before {position:absolute;content:'';top:0;left:0;width:100%;height:1px;background-color:#eaeef3}
#arkArea .ark_wrap {right:-2px;left:auto !important;width:294px}
.ark_wrap dl {position:relative}
.ark_wrap dt {position:absolute;right:20px;top:0;height:31px;font-size:13px;line-height:31px;letter-spacing:0;color:#666}
#arkArea .ark_wrap dt {display:none}
.ark_content_list {position:relative;padding:8px 0}
.ark_content_list li {overflow:hidden;height:32px;padding:0 50px 0 19px;font-size:13px;line-height:32px;letter-spacing:-0.1em;white-space:nowrap;text-overflow:ellipsis}
.ark_content_list li span {font-size:13px;letter-spacing:0;color:#2e89e5}
.ark_content_list li strong {color:#2e89e5}
.ark_content_list li em {display:none !important;position:absolute;right:20px;height:31px;font-size:13px;line-height:31px;letter-spacing:0;text-align:right;color:#666}
.ark_content_list li.divide {border-top:1px solid #e1e1e1}
.ark_content_list li.divide:first-child {border-top:0 none}
.ark_content_list2 {position:relative;padding:0 80px 0 14px}
.ark_content_list2 li {padding:10px 0 4px;font-size:13px;letter-spacing:-0.1em}
.ark_content_list2 li a.title {overflow:hidden;display:block;padding-bottom:1px;font-size:15px;text-decoration:underline;color:#0000cc;white-space:nowrap;text-overflow:ellipsis}
.ark_content_list2 li span {margin:0;color:#000}
.ark_content_list2 li span.company {color:#218d44}
.ark_content_list2 li span.pay {color:#222}
.ark_content_list2 li span.bar {padding:0 8px;color:#ccc}
.ark_content_list2 li span.keyword {display:block}
.ark_content_list2 li span.keyword .icon {display:inline-block;width:53px;height:13px;margin-top:-2px;font-size:0;vertical-align:middle;color:transparent;background:url('//image.alba.kr/search/icon_keyword.gif') no-repeat 0 0}
.ark .page {position:relative;padding:15px 0 20px;text-align:center}
.ark .page a {display:inline-block;width:18px;height:18px;margin:0 2px;font-size:13px;vertical-align:top;text-align:center;color:#000;border:1px solid #e5e5e5}
.ark .page strong {color:#ea2015}
.ark .page .pageBtn {height:13px;padding-top:5px}
.ark .page .pageBtn span {overflow:hidden;display:inline-block;width:5px;height:9px;font-size:0;vertical-align:top;color:transparent;background:url('//image.alba.kr/e/common/201608/header.png') no-repeat}
.ark .page .prevPage span {background-position:-132px 0}
.ark .page .nextPage span {background-position:-142px 0}
.ark_noInfo {height:18px;padding:60px 20px;font-size:13px;line-height:18px;text-align:center;color:#9096a1}
.ark_footer {clear:both;position:relative;height:44px;padding:0 19px;background-color:#f7f9fd}
.ark_footer .help {position:relative;height:44px;padding:0;border:0 none;font-size:13px;line-height:44px;color:#777e8c}
.ark_footer .help a {color:#666}
.ark_footer .ark-auto>a {position:relative;display:inline-block;width:36px;height:20px;margin:12px 0 0 6px;border-radius:11px;font-size:0;vertical-align:top;color:transparent}
.ark_footer .ark-auto>a::before {content:"";position:absolute;top:0;width:20px;height:20px;box-sizing:border-box;border-radius:50%;background-color:#fff}
.ark_footer .ark-auto.on>a {background-color:#3396fe}
.ark_footer .ark-auto.on>a::before {right:0;left:auto;border:1px solid #2e89e5}
.ark_footer .ark-auto.off>a {background-color:#ced3db}
.ark_footer .ark-auto.off>a::before {right:auto;left:0;border:1px solid #a2aebf}
.ark_footer .help .word {display:none !important}
.ark_footer .help .close {float:right}
.ark_footer .help .close>span {display:inline-block;width:16px;height:16px;margin:14px 0 0 5px;vertical-align:top;background:url('//image.alba.kr/m/svg/x_circle_bggrayD.svg') no-repeat 0 0 / 16px 16px}
.ark_footer .jobTotal {position:absolute;top:9px;right:10px;font-size:11px;color:#222}
.ark_footer .jobTotal em {padding-right:1px;font-weight:bold;font-size:11px;color:#ea2015}

#HeaderMenuWrap {z-index:101;position:relative;width:100%;border-top:1px solid #f0f2f5;border-bottom:2px solid #ffe000;background-color:#fff}
#HeaderMenu {z-index:101;width:1260px;height:56px;margin:0 auto}
body.scroll {padding-top:49px}
body.scroll #HeaderMenuWrap {z-index:99999;position:fixed;top:0;left:0}
.headerFilter {z-index:99;position:fixed;top:0;right:0;bottom:0;left:0;background-color:#000;filter:alpha(opacity=25);opacity:0.25}

.headerMenu {float:left}
.headerMenu>li {float:left}
.headerMenu>li>a {position:relative;display:block;height:56px;padding:0 15px;font-size:16px;line-height:56px}
.headerMenu>li>a>span {display:inline-block;width:24px;height:24px;margin:16px 4px 0 0;vertical-align:top;background:url('//image.alba.kr/e/common/2023/header.png') no-repeat 0 0 / 150px auto}
.headerMenu>li>a>.my-text {display:inline-block;width:54px}
.headerMenu>li.all>a {margin-left:-15px;margin-right:10px;font-weight:bold}
.headerMenu>li.all>a::after {content:"";position:absolute;top:22px;right:-5px;width:1px;height:14px;background-color:#777e8c}
.headerMenu>li.all>a>span {width:16px;height:16px;margin-top:21px;margin-right:6px;background-position:-50px 0}
.headerMenu>li.person>a>span {background-position:0 -100px}
.headerMenu>li.biz>a>span {background-position:-50px -100px}
.headerMenu>li.viv>a>em {display:inline-block;position:absolute;top:12px;width:13px;height:13px;background:url('//image.alba.kr/viv/viv_common.png')no-repeat 0 -120px}

.headerMenu>li.on>a,
.headerMenu>li.active>a {font-weight:bold;text-decoration:none;color:#000}
.headerMenu>li.on>a::before,
.headerMenu>li.active>a::before {content:"";z-index:-1;position:absolute;top:auto;right:15px;bottom:15px;left:15px;height:12px;background-color:rgba(255,242,48,0.5)}
.headerMenu>li.active .headerMenuFullWrap,
.headerMenu>li.active .headerMenuFull,
.headerMenu>li.active .headerMenuSub {display:block}

.headerMenuFullWrap {display:none;position:absolute;top:56px;left:0;right:0;border-top:2px solid #ffe000;background-color:#fff}
.headerMenuFull {display:none;width:1258px;margin:0 auto;background-color:#fff;border-right:1px solid #e5e5e5;border-left:1px solid #e5e5e5}
.headerMenuFull-title {padding:13px 20px;font-weight:bold;font-size:14px;line-height:1.2;letter-spacing:-1px;border-bottom:1px solid #e7e7e7}
.headerMenuFull-title>a>span {margin-top:3px}
.headerMenuFull-section {overflow:hidden;position:relative;width:100%}
.headerMenuFull-section>li {float:left;box-sizing:border-box;width:14.28%;padding:20px 0 0;font-weight:bold;font-size:13px;line-height:1.2;letter-spacing:-1px;border-left:1px solid #e5e5e5}
.headerMenuFull-section>li:first-child {border-left:0 none}
.headerMenuFull-section>li>strong,
.headerMenuFull-section>li>a {display:block;margin:0 0 12px;padding-left:20px}
.headerMenuFull-section-list {overflow:hidden}
.headerMenuFull-section-list>li {padding:4px 0;font-weight:normal;font-size:13px;line-height:1.2;letter-spacing:-1px}
.headerMenuFull-section-list>li>a {padding-left:20px;color:#666}
.headerMenuFull-section-list>li>a>.icon {display:inline-block;height:14px;margin-top:-2px;padding:2px 2px 0;font-size:11px;letter-spacing:-1px;text-align:center;vertical-align:middle;color:#fff;background:#ff9d12}
.headerMenuFull-section-list>li>a>.age19 {display:inline-block;width:11px;height:12px;padding-right:1px;font-size:10px;line-height:12px;text-align:center;color:#000;border:1px solid #ff4544;border-radius:50%}

.headerMenu>li.all .headerMenuFull-section>li {height:256px}
.headerMenu>li.all .headerMenuFull-section.biz>li {width:16.65%;height:303px}
.headerMenu>li.all .headerMenuFull-section__person,
.headerMenu>li.all .headerMenuFull-section__biz {background-color:#f8f8f8}
.headerMenu>li.person .headerMenuFull-section>li {height:256px}
.headerMenu>li.person .headerMenuFull-section>li.viv {position:absolute;top:80px;left:0;height:30px;border-left:0 none}
.headerMenu>li.person .headerMenuFull-section>li.mystory {position:absolute;top:127px;left:71.4%;height:88px;border-left:0 none}
.headerMenu>li.biz .headerMenuFull-section>li {width:12.49%;height:260px}
.headerMenu>li.biz .headerMenuFull-section>li.support {position:absolute;top:145px;left:0;height:30px;border-left:0 none}
.headerMenu>li.job .headerMenuFull-section>li {height:402px}
.headerMenu>li.job .headerMenuFull-section>li.pay {position:absolute;top:147px;left:42.84%;height:127px}
.headerMenu>li.brand .headerMenuFull-section>li {overflow-x:hidden;overflow-y:auto;width:77%;height:350px}
.headerMenu>li.brand .headerMenuFull-section>li.brandType {width:23%}
.headerMenu>li.brand .headerMenuFull-section-list>li {float:left;width:50%}
.headerMenu>li.resume .headerMenuFull-section>li {height:375px}
.headerMenu>li.story .headerMenuFull-section>li {width:16.65%;height:225px}
.headerMenu>li.story .headerMenuFull-section>li.unique {position:absolute;top:110px;left:83.35%;height:24px;border-left:0 none}
.headerMenu>li.story .headerMenuFull-section>li.interview {position:absolute;top:138px;left:83.35%;height:24px;border-left:0 none}
.headerMenu>li.story .headerMenuFull-section>li.global {position:absolute;top:166px;left:83.35%;height:24px;border-left:0 none}
.headerMenu>li.customer .headerMenuFull-section>li {height:300px}
.headerMenu>li.customer .headerMenuFull-section>li.notice {position:absolute;top:168px;left:85.71%;height:24px;border-left:0 none}
.headerMenu>li.my .headerMenuFull-title {padding:8px 20px}
.headerMenu>li.my .headerMenuFull-title>a.menuSetBtn {display:inline-block;height:20px;padding:5px 11px 0 7px;font-weight:bold;font-size:12px;line-height:1.2;color:#222;border:1px solid #bcbdbe;border-bottom:1px solid #868686}
.headerMenu>li.my .headerMenuFull-title>a.menuSetBtn>span {display:inline-block;width:14px;height:14px;margin:0 6px 0 0;background:url('//image.alba.kr/e/common/201608/header.png') no-repeat -120px -69px}
.headerMenu>li.my .headerMenuFull-section>li {width:33.32%;min-height:98px;padding-bottom:25px}
.headerMenu>li.my--biz .headerMenuFull-section>li {min-height:122px}
.headerMenu>li.my .headerMenuFull-section-list>li {float:left;width:50%}

.headerMenuFull-section-subList {overflow:hidden;margin-bottom:5px;padding:0 5px 10px 20px;border-bottom:1px solid #e5e5e5}
.headerMenuFull-section-subList.condition {margin:8px 0 0;padding-bottom:0;border-bottom:0 none}
.headerMenuFull-section-subList>li {float:left;margin:0 0 5px}
.headerMenuFull-section-subList.area>li {width:25%}
.headerMenuFull-section-subList.kind>li {width:50%}
.headerMenuFull-section-subList.kind--1>li {width:100%}
.headerMenuFull-section-subList.kind--1>li .divide {margin-left:5px;padding-left:9px;background:url('//image.alba.kr/e/common/202009/header.png') no-repeat -149px 4px}
.headerMenuFull-section-subList>li>a {font-size:13px;line-height:1.2;letter-spacing:-1px;color:#666}

.headerMenuFull-section-brandList {padding:7px 0 0 20px}
.headerMenuFull-section-brandList:after {content:"";clear:both;display:block}
.headerMenuFull-section-brandList>li {float:left;width:69px;height:75px;margin-right:8px}
.headerMenuFull-section-brandList>li>a {overflow:hidden;display:block;height:100%;font-size:11px;letter-spacing:-1px;text-overflow:ellipsis;white-space:nowrap;text-align:center}
.headerMenuFull-section-brandList>li>a>span {display:block;width:63px;height:29px;margin-bottom:6px;padding:4px 0 0;background:#fff;border:1px solid #dfdfdf}
.headerMenuFull-section-brandList>li>a>span>img {width:55px}

.header-icon {display:inline-block;font-size:0;vertical-align:top;color:transparent;background:url('//image.alba.kr/e/common/202009/header.png') no-repeat}
.header-icon--home {width:7px;height:11px;margin:2px 0 0 2px;background-position:-120px -60px}
.header-icon--pro {width:38px;height:18px;background-position:-60px -60px}
.header-icon--19 {width:16px;height:16px;margin-top:1px;background-position:-120px -30px}
.header-icon--gangsa {width:38px;height:18px;background-position:0 -90px}
.header-icon--ganhojob {width:34px;height:18px;background-position:-60px -90px}
.header-icon--new {width:13px;height:13px;margin-top:1px;background-position:-90px -30px}
.header-icon--career {width:38px;height:18px;background-position:-60px -60px}
.header-icon--more {width:56px;height:22px;margin:-3px 0 0 5px;background-position:-90px -120px}

.headerQuick {float:right;padding:9px 0}
.headerQuick>li {float:left;margin-left:6px}
.headerQuick>li>a {display:block;height:36px;padding:0 20px 0 16px;font-weight:bold;font-size:15px;border:1px solid #ffe000;border-radius:6px;line-height:36px;background-color:#fff230}
.headerQuick>li>a:hover {text-decoration:none;color:initial}
.headerQuick>li>a::before {content:"";display:inline-block;width:20px;height:20px;margin:9px 4px 0 0;vertical-align:top;background:url('//image.alba.kr/e/common/2023/header.png') no-repeat 0 0 / 150px auto}
.headerQuick>li.personReg>a::before {background-position:0 -50px}
.headerQuick>li.bizReg>a::before {background-position:-50px -50px}
.headerQuick>li.bizMag>a::before {background-position:-100px -50px}
.headerQuick>li.bizReg>a,
.headerQuick--biz>li>a {border-color:#2e89e5;color:#fff !important;background-color:#3396fe}
.headerQuick>li.bizReg>a>span,
.headerQuick--biz>li>a>span {text-shadow:0 0 2px #003e80}

.myMenuSetWrap {display:none}
.myMenuSet {z-index:999;position:fixed;top:161px;left:50%;width:1068px;height:584px;margin-left:-535px;border:1px solid #333;background:#fff}
.myMenuSet-title {display:block;padding:12px 20px 15px;font-weight:bold;font-size:14px;line-height:1.2;color:#282828;letter-spacing:-2px;color:#333;border-bottom:1px solid #e7e7e7}
.myMenuSet-section {overflow:hidden;width:100%}
.myMenuSet-section>li {float:left;width:315px;height:458px;padding:12px 20px;font-weight:bold;font-size:13px;line-height:1.2;letter-spacing:-1px;border-left:1px solid #e7e7e7}
.myMenuSet-section>li:first-child {border-left:none}
.myMenuSet-section>li>strong {display:block;margin-bottom:5px;color:#333}
.myMenuSet-section-list {float:left;width:315px}
.myMenuSet-section-list:after {content:" ";clear:both;display:block}
.myMenuSet-section-list + .myMenuSet-section-list {margin-left:25px}
.myMenuSet-section-list>li {float:left;width:50%;margin-top:7px}
.myMenuSet-section-list>li>span.input {position:relative;display:inline-block}
.myMenuSet-section-list>li>span.input * {vertical-align:middle;cursor:pointer}
.myMenuSet-section-list>li>span.input input {position:absolute;left:0;margin:0;cursor:pointer;opacity:0;filter:alpha(opacity=0)}
.myMenuSet-section-list>li>span.input label {display:inline-block;height:17px;padding:0 0 0 20px;font-size:12px;line-height:1.2;color:#444;background:url('//image.alba.kr/comm/input.png') no-repeat;white-space:nowrap}
.myMenuSet-section-list>li>span.input input[type="checkbox"] + label {background-position:0 1px}
.myMenuSet-section-list>li>span.input.on input[type="checkbox"] + label {background-position:0 -19px;color:#2073f0}
.myMenuSet-section-btn {position:relative;padding:15px 20px;text-align:right;border-top:1px solid #e7e7e7}
.myMenuSet-section-btn>a {display:inline-block;width:65px;padding:5px 0 7px;font-weight:bold;font-size:12px;line-height:1.2;text-align:center;border:1px solid #bcbdbe;border-bottom:1px solid #868686}
.myMenuSet-section-btn>a.left{position:absolute;top:15px;left:20px}
.myMenuSet-filter {z-index:998;position:fixed;left:0;top:0;width:100%;height:100%;background:#000;filter:alpha(opacity=50);opacity:0.5}

/* Header - sub 1070px */
#Global, #MainBanner {min-width:1070px}
#Header, #HeaderMenu {width:1070px}
.headerMenuFull {width:1068px}
.headerMenu>li.all .headerMenuFull-section__person,
.headerMenu>li.all .headerMenuFull-section__biz {background-color:#f8f8f8}
.headerMenu>li.person .headerMenuFull-section>li {width:14%;height:256px}
.headerMenu>li.person .headerMenuFull-section>li.application {width:16%}
.headerMenu>li.person .headerMenuFull-section>li.viv {position:absolute;top:80px;left:0;height:30px;border-left:0 none}
.headerMenu>li.person .headerMenuFull-section>li.mystory {position:absolute;top:127px;left:72%;height:88px;border-left:0 none}
.headerMenu>li.biz .headerMenuFull-section>li.support {position:absolute;top:145px;left:0;height:30px;border-left:0 none}
.headerMenu>li.job .headerMenuFull-section>li.pay {position:absolute;top:147px;left:42.84%;height:127px}
.headerMenu>li.brand .headerMenuFull-section>li {width:74%}
.headerMenu>li.brand .headerMenuFull-section>li.brandType {width:26%}
.headerMenu>li.brand .headerMenuFull-section-list>li {float:left;width:50%}
.headerMenu>li.story .headerMenuFull-section>li.unique {position:absolute;top:110px;left:83.35%;height:24px;border-left:0 none}
.headerMenu>li.story .headerMenuFull-section>li.interview {position:absolute;top:138px;left:83.35%;height:24px;border-left:0 none}
.headerMenu>li.story .headerMenuFull-section>li.global {position:absolute;top:166px;left:83.35%;height:24px;border-left:0 none}
.headerMenu>li.customer .headerMenuFull-section>li {width:12%}
.headerMenu>li.customer .headerMenuFull-section>li.type01 {width:15%}
.headerMenu>li.customer .headerMenuFull-section>li.type02 {width:16%}
.headerMenu>li.customer .headerMenuFull-section>li.notice {position:absolute;top:168px;left:83.98%;width:16%;height:24px;border-left:0 none}
.headerMenu>li.my .headerMenuFull-title {padding:8px 20px}
.headerMenu>li.my .headerMenuFull-title>a.menuSetBtn {display:inline-block;height:20px;padding:5px 11px 0 7px;font-weight:bold;font-size:12px;line-height:1.2;color:#222;border:1px solid #bcbdbe;border-bottom:1px solid #868686}
.headerMenu>li.my .headerMenuFull-title>a.menuSetBtn>span {display:inline-block;width:14px;height:14px;margin:0 6px 0 0;background:url('//image.alba.kr/e/common/201608/header.png') no-repeat -120px -69px}
.headerMenu>li.my .headerMenuFull-section>li {width:33.32%;min-height:98px;padding-bottom:25px}
.headerMenu>li.my--biz .headerMenuFull-section>li {min-height:122px}
.headerMenu>li.my .headerMenuFull-section-list>li {float:left;width:50%}

/* Header - biz */
.headerMenu--biz {border-bottom-color:#3396fe !important}
.headerMenu--biz .headerMenu>li.on>a::before,
.headerMenu--biz .headerMenu>li.active>a::before {background-color:#cfe6ff}
.headerMenu--biz .headerMenu>li.biz {margin-right:25px}
.headerMenu--biz .headerMenu>li.biz>a {margin-left:-15px;font-weight:bold;color:#2e89e5}
.headerMenu--biz .headerMenu>li.biz>a>span {background-position:-100px -100px}
.headerMenu--biz .headerMenuFullWrap {border-top-color:#3396fe}
.headerMenu--biz .headerMenuFull-section>li {width:15.95%;height:329px}
.headerMenu--biz .headerMenuFull-section>li.headerMenuFull-section--item5 {width:216px}
.headerMenu--biz .headerMenuFull-section>li>strong {font-size:14px}
.headerMenu--biz .headerMenu>li.active .headerMenuFull-section>li.active {background-color:#f7f9fd}
.headerMenu--biz .headerMenu>li.active .headerMenuFull-section>li.active>strong {color:#2e89e5}

/* Header - 기업서비스/TM전문관 */
#HeaderGnb {z-index:110;position:relative;width:100%;background-color:#fff}
#HeaderGnb .headerAction {z-index:110;position:relative;width:1070px;margin:0 auto}
#HeaderWrap {width:100%;background-color:#fff}
#HeaderWrap #Header {height:125px}
#HeaderWrap .headerBi {height:98px;padding-top:27px}

#JobProMenuWrap {z-index:100;position:relative;width:100%;height:38px;padding:18px 0 0 0;background:url('//image.alba.kr/e/common/201403/header_JobPro.png') repeat-x 0 -20px}
#JobProMenu {z-index:100;position:relative;width:960px;height:38px;margin:0 auto}
.jobProMenu {overflow:hidden;width:960px;height:38px}
.jobProMenu li {float:left}
.jobProMenu li a {display:block;text-indent:-999em;height:38px;background:url('//image.alba.kr/e/common/201403/header_JobPro.png') no-repeat}
.jobProMenu li.job a {width:90px;background-position:0 -80px}
.jobProMenu li.resume a {width:97px;background-position:-90px -80px}
.jobProMenu li.regResume a {width:108px;background-position:-187px -80px}
.jobProMenu li.regJob a {width:120px;background-position:-295px -80px}
.jobProMenu.person li.person a {width:126px;background-position:-416px -80px}
.jobProMenu.person li.resumeReg a {width:107px;background-position:-187px -80px}
.jobProMenu.biz li.biz a {width:126px;background-position:-651px -80px}
.jobProMenu.biz li.jobReg a {width:117px;background-position:-778px -80px}
.jobProMenu.sns li.snsHome a {width:101px;background-position:0 -122px}

/* 기업 로그인 GNB */
#GlobalGnbBiz {z-index:105;position:relative;width:1070px;height:110px;margin:0 auto;padding:24px 0 0;box-sizing:border-box}
#GlobalGnbBiz a:hover,
#GlobalGnbBiz a:active {text-decoration:none;color:#3366cc}

/* 브랜드 공고등록 상단우측 메뉴 */
#GlobalGnbBiz div.move {float:right}
#GlobalGnbBiz div.move ul {float:left;border-right:1px solid #ddd}
#GlobalGnbBiz div.move ul li {position:relative;float:left;width:71px;border-left:1px solid #ddd}
#GlobalGnbBiz div.move ul li a {display:block;height:26px;padding-top:45px;font-size:12px;letter-spacing:-1px;text-align:center}
#GlobalGnbBiz div.move ul li span {position:absolute;top:18px;left:26px;width:18px;height:18px;background:url('//image.alba.kr/biz/bizBtn.png') no-repeat left top}
#GlobalGnbBiz div.move ul li.infoChange span {background-position:0 0}
#GlobalGnbBiz div.move ul li.login span {background-position:-22px 1px}
/* #HeaderMenuBizWrap {z-index:100;position:relative;width:100%;height:42px;background-color:#36486c}
#HeaderMenuBizWrap a:hover,
#HeaderMenuBizWrap a:active {text-decoration:none}
#HeaderMenuBiz {z-index:100;position:relative;width:1070px;height:42px;margin:0 auto} */
/* .headerMenuBiz {float:left}
.headerMenuBiz>li {position:relative;float:left}
.headerMenuBiz>li>a {display:block;height:30px;padding:12px 11px 0 14px;font-weight:bold;font-size:14px;letter-spacing:-1px;color:#fff}
.headerMenuBiz>li>a>span {display:inline-block;width:5px;height:3px;margin:7px 0 0 4px;vertical-align:top;background:url('//image.alba.kr/biz/bizBtn.png') no-repeat -57px -196px}
.headerMenuBiz>li.on>a {z-index:1;position:relative;height:29px;padding:11px 10px 0 13px;text-decoration:none;color:#333;background-color:#fff;border:1px solid #333;border-bottom-color:#fff}
.headerMenuBiz>li.on>a>span {background-position:-57px -204px}
.headerMenuBiz>li:hover>a {z-index:1;position:relative;height:30px;padding:11px 10px 0 13px;text-decoration:none;color:#333;background-color:#fff;border:1px solid #333;border-bottom-color:#fff}
.headerMenuBiz>li:hover>a>span {background-position:-57px -204px}
.headerMenuBiz>li:hover>a + .headerMenuBizSub {display:block}
.headerMenuBiz>li.sectionHome>a {padding:12px 20px 0 !important;color:#fff;background-color:#3366cc;border:0 none !important}
.headerMenuBiz>li.sectionHome>a>span {width:16px;height:14px;margin:2px 10px 0 0;background-position:-36px -196px}
.headerMenuBizSub {display:none;position:absolute;top:42px;left:0;padding:14px 0;white-space:nowrap;background-color:#fff;border:1px solid #333}
.headerMenuBizSub>li {min-width:58px;padding:4px 20px;font-size:12px;letter-spacing:-1px}
.headerMenuBizSub>li a:hover,
.headerMenuBizSub>li a:active {color:#3366cc}
.sectionHome>.headerMenuBizSub {width:100%;background-color:#3366cc;border:0 none;border-top:1px solid #3366cc}
.sectionHome>.headerMenuBizSub>li>a {color:#fff} */
/* .headerQuickBiz {float:right}
.headerQuickBiz>li {float:left}
.headerQuickBiz>li>a {display:block;height:30px;padding:12px 10px 0;font-weight:bold;font-size:14px;letter-spacing:-1px;color:#fff}
.headerQuickBiz>li>a>span {display:inline-block;width:19px;height:19px;margin:-1px 5px 0 0;vertical-align:top;background:url('//image.alba.kr/biz/bizBtn.png') no-repeat}
.headerQuickBiz>li.regSimple>a>span {background-position:-67px -196px}
.headerQuickBiz>li.regJob>a>span {background-position:-91px -196px} */

/* Header - TM전문관 */
#JobProMenuWrap {z-index:100;position:relative;width:100%;height:38px;padding:18px 0 0 0;background:url('//image.alba.kr/e/common/201403/header_JobPro.png') repeat-x 0 -20px}
#JobProMenu {z-index:100;position:relative;width:960px;height:38px;margin:0 auto}
.jobProMenu {overflow:hidden;width:960px;height:38px}
.jobProMenu li {float:left}
.jobProMenu li a {display:block;text-indent:-999em;height:38px;background:url('//image.alba.kr/e/common/201403/header_JobPro.png') no-repeat}
.jobProMenu li.job a {width:111px;background-position:0 -80px}
.jobProMenu li.resume a {width:120px;background-position:-111px -80px}
.jobProMenu li.regResume a {width:111px;background-position:-231px -80px}
.jobProMenu li.regJob a {width:111px;background-position:-342px -80px}

.jobProMenu.person li.person a {width:126px;background-position:-462px -80px}
.jobProMenu.person li.resumeReg a {width:109px;background-position:-588px -80px}

.jobProMenu.biz li.biz a {width:126px;background-position:-697px -80px}
.jobProMenu.biz li.jobReg a {width:125px;background-position:-823px -80px}

.jobProMenu.sns li.snsHome a {width:101px;background-position:0 -122px}

/* body */
#SubContents {width:1070px;margin:0 auto;padding-bottom:20px}

/* Footer */
#FooterWrap {clear:both;width:100%;min-width:1070px;margin-top:50px;padding-bottom:20px;border-top:1px solid #eee;background-color:#fff}
#Footer {width:100%}
#Footer * {letter-spacing:-1px}
.footer__cs {overflow:hidden;width:1070px;margin:0 auto;padding:30px 0}
.footer__customer {float:left;width:456px;height:78px;padding-top:3px}
.footer__customer-tel {float:left;width:185px;font-size:20px;line-height:1.1}
.footer__customer-tel>strong {display:block;margin-top:-1px;margin-bottom:3px;font-weight:bold;font-size:34px}
.footer__customer-tel>span {display:block;font-size:12px;color:#666}
.footer__customer-contact {float:right;width:260px}
.footer__customer-contact>li {font-size:13px;line-height:2}
.footer__customer-contact>li>span {display:inline-block;width:40px}
.footer__customer-contact>li>span.add {width:auto;color:#999}
.footer__faq {float:left;box-sizing:border-box;width:333px;height:78px;padding-top:3px;border-left:1px solid #ddd;text-align:center}
.footer__faq>li {display:inline-block}
.footer__faq a {display:block;padding:0 10px;font-size:13px}
.footer__faq span {display:block;width:54px;height:54px;margin:0 auto 4px;background:url('//image.alba.kr/e/common/2021/footer.png') no-repeat 0 0}
.footer__faq-agency span {background-position:0 0}
.footer__faq-faq span {background-position:-60px 0}
.footer__faq-qna span {background-position:0 -60px}
.footer__app {float:right;box-sizing:border-box;width:279px;height:81px;border-left:1px solid #ddd;font-size:13px;line-height:1.45}
.footer__app>a {overflow:hidden;display:block;width:257px;height:78px;padding:3px 0 0 22px}
.footer__app strong {display:block;margin-bottom:3px;font-weight:normal;font-size:24px}
.footer__app span {float:right;width:74px;height:74px;background:url('//image.alba.kr/e/common/202005/footer_app.png') no-repeat 0 0}
.footer__link {border-top:1px solid #eee;border-bottom:1px solid #eee}
.footer__menu {overflow:hidden;width:1070px;margin:0 auto}
.footer__menu>li {float:left}
.footer__menu a {display:block;height:60px;padding:0 13px;font-size:15px;line-height:60px}
.footer__menu>li.first>a {padding-left:0}
.footer__menu>li.end>a {padding-right:0;padding-left:34px}
.footer__corp {position:relative;width:1070px;margin:0 auto;padding:20px 0 20px}
.footer__company-address {padding:10px 0 6px;font-size:13px;line-height:1.5;color:#666}
.footer__company-address>span {display:inline-block;width:1px;height:14px;margin:3px 2px 0 4px;font-size:0;vertical-align:top;color:transparent;background-color:#e5e5e5}
.footer__company-copyright {font-size:13px;color:#666}
.footer__etc>dl {position:absolute;right:0;width:160px;margin:0 0 5px;border:1px solid #e5e5e5;background-color:#fff}
.footer__etc dt span {position:absolute;top:12px;right:19px;width:10px;height:6px;background:url('//image.alba.kr/e/common/202005/footer.png') no-repeat 0 -60px}
.footer__etc dt>button,
.footer__etc dd>a {display:block;width:calc(100% - 20px);height:30px;padding:0 10px;background-color:#fff;font-size:13px;line-height:30px;text-decoration:none;text-align:left}
.footer__etc dd {display:none}
.footer__etc dd>a:hover {background-color:#eee}
.footer__family {z-index:2;top:38px}
.footer__local {top:75px}
.footer__etc>dl.on {z-index:9999}
.footer__etc>dl.on dt {border-bottom:1px solid #e5e5e5}
.footer__etc>dl.on dd {display:block}

#Prize {width:1070px;margin:0 auto;border-top:1px solid #e5e5e5}
.prize__list {overflow:hidden;width:1070px}
.prize__list>li {float:left;width:16.66%}
.prize__list a {display:block;width:150px;height:130px;margin:0 auto;font-size:0;color:transparent;background:url('//image.alba.kr/e/common/2022/prize_202201.jpg') no-repeat 0 0}
.prize__list-1>a {background-position:0 0}
.prize__list-2>a {background-position:-150px 0}
.prize__list-3>a {background-position:-300px 0}
.prize__list-4>a {background-position:0 -150px}
.prize__list-5>a {background-position:-150px -150px}
.prize__list-6>a {background-position:-300px -150px}
.prize__list-7>a {background-position:0 -300px}

/* GlobalBanner */
#GlobalBannerWrap {width:100%;background-color:#f7f7f7}
#GlobalBanner {position:relative;width:1070px;height:112px;margin:0 auto;background-color:#f7f7f7}
#GlobalBanner p.sideCenter {position:absolute;top:16px;left:50%;margin-left:-240px}
#GlobalBanner p.sideLeft {position:absolute;top:35px;left:21px}
#GlobalBanner p.sideRight {position:absolute;top:35px;right:21px}
.side-info__link {display:block;position:relative;padding-left:51px;font-size:14px;color:#222}
.side-info__icon {position:absolute;top:-3px;left:0;width:42px;height:42px;background:url('//image.alba.kr/comm/subside_icon.png')no-repeat}
.side-info__title {display:block}
.sideRight .side-info__link {padding-right:51px;text-align:right}
.sideRight .side-info__icon {left:initial;right:0;background-position:-42px 0}

/* 배너 - 스카이 */
#SkyBanner {position:fixed;_position:absolute;top:200px;left:50%;margin-left:545px}
body.job #SkyBanner,
body.resume #SkyBanner,
body.recruit #SkyBanner,
body.story #SkyBanner {top:282px}
body.scroll #SkyBanner {z-index:200;top:60px}
.quickTop {position:fixed;_position:absolute;bottom:-33px;left:50%;margin-left:555px}

/* 배너 - 날개 */
#WingBanner {position:absolute;top:204px;right:50%;margin-right:545px}
body.job #WingBanner,
body.resume #WingBanner,
body.recruit #WingBanner,
body.story #WingBanner {top:329px}

#WingBannerBiz {z-index:2;position:fixed;top:174px;left:50%;width:160px;margin-left:548px}
#WingBannerBiz .agency-banner {width:160px}
#WingBannerBiz .agency-banner img {width:100%}
#WingBannerBiz .agency-banner__customer {display:block;width:160px;height:41px;margin-top:5px;line-height:41px;font-size:16px;text-align:center;color:#666;background-color:#f8f8f8}
#WingBannerBiz .agency-banner--left .agency-banner__customer {height:50px;line-height:50px;margin-top:10px;border-radius:6px;background-color:#fff;font-family:HGSoftGGothicssi60g;letter-spacing:0;font-size:16px;color:#595e69}
#WingBannerBiz .agency-banner--left .agency-banner__customer strong {line-height:0;font-size:17px}

#WingBannerBiz .consultant {position:relative;margin-bottom:10px}
#WingBannerBiz .consultant__icon {display:none}
#WingBannerBiz .consultant__wrap {width:128px;padding:20px 15px;border:1px solid #ddd;background-color:#fff}
#WingBannerBiz .consultant__name {margin:0 0 10px;padding:0 0 10px 43px;border-bottom:1px solid #ddd;font-size:14px;line-height:1.36;background:url('//image.alba.kr/biz/icon_consultant.png') no-repeat 0 0}
#WingBannerBiz .consultant__name>strong {font-weight:bold;font-size:15px;color:#222}
#WingBannerBiz .consultant__tel {display:block;margin-bottom:3px;font-weight:bold;font-size:19px;color:#3366cc}
#WingBannerBiz .consultant__time {display:block;margin-bottom:9px;font-size:14px;color:#666}
#WingBannerBiz .consultant__time>em {letter-spacing:0}
#WingBannerBiz .consultant__mail {font-size:14px;letter-spacing:0;color:#222}

@media all and (max-width:1280px) {
	#WingBannerBiz .consultant__icon {display:block}
	#WingBannerBiz .consultant__wrap {display:none}
	#WingBannerBiz .consultant__icon:hover + .consultant__wrap {display:block;position:absolute;top:0;right:160px}
}

/* 지니어스 추천 인재제공 서비스 */
.geniusLayer {z-index:9999;display:none;position:absolute;width:596px;height:262px;text-indent:-999em;background:#fff url('//image.alba.kr/e/serviceguide/201401/genius_layer.png') no-repeat 0 0}
.geniusLayer li {border:0 none !important}
.geniusLayer p {background:none !important}
.geniusLayer .view {position:absolute;top:12px;left:271px;width:71px;height:20px;text-indent:0}
.geniusLayer .view a {display:block;height:20px;text-indent:-999em}
.geniusLayer .close {position:absolute;top:0;right:0;width:49px;height:41px;text-indent:0}
.geniusLayer .close a {display:block;height:41px;text-indent:-999em}

/* 채팅상담 */
.customerChat-btn {display:none}
.customerChat-layerWrap {display:none;z-index:999999;position:fixed;left:0;top:0;width:100%;height:100%;display:none}
.customerChat-layer {z-index:999998;position:fixed;left:50%;top:50%;background-color:#fff}
.customerChat-layerContent {position:relative}
.customerChat-layerClose {position:absolute;right:16px;top:17px;width:24px;height:24px;font-size:0;color:transparent;background:url('//image.alba.kr/common/customer_chat_bg.png') no-repeat -77px 0}

/* 채팅상담 - 정보입력 */
#CustomerChat-infoWrite .customerChat-layer {width:361px;padding:25px 32px 22px;margin:-300px 0 0 -213px;border:1px solid #c6c6c6}
#CustomerChat-infoWrite .customerChat-layer * {font-weight:bold;letter-spacing:-1px}
#CustomerChat-infoWrite p {margin-bottom:8px;font-size:15px;color:#8b8a8a}
#CustomerChat-infoWrite .title {margin-bottom:22px;font-size:34px;text-align:center;color:#955c3f}
#CustomerChat-infoWrite .title>.balloon {position:relative;top:12px;display:inline-block;width:57px;height:31px;margin-left:5px;vertical-align:top;background:url('//image.alba.kr/common/customer_chat_bg.png') no-repeat 0 0}
#CustomerChat-infoWrite .customerChat-write>li {overflow:hidden;height:45px;margin-top:-1px;border:1px solid #cfcfcf}
#CustomerChat-infoWrite .customerChat-write>li:first-child {margin-top:0}
#CustomerChat-infoWrite .customerChat-write>li>.item {float:left;width:110px}
#CustomerChat-infoWrite .customerChat-write>li>.item>label {display:block;height:33px;padding:12px 0 0 12px;font-weight:bold;font-size:15px;letter-spacing:-1px}
#CustomerChat-infoWrite .customerChat-write>li>.itemDetail {overflow:hidden;padding:0 5px}
#CustomerChat-infoWrite .customerChat-write>li>.itemDetail>input {box-sizing:border-box;width:100%;height:44px;margin-top:1px;font-weight:normal;font-size:15px;vertical-align:top;color:#ababab;border:0 none;letter-spacing:0}
#CustomerChat-infoWrite .customerChat-write>li.full {height:auto;margin:0;padding:27px 0 0;border:0 none}
#CustomerChat-infoWrite .customerChat-write>li.full>.item {float:none;width:auto}
#CustomerChat-infoWrite .customerChat-write>li.full>.item>label {height:auto;padding:0 0 8px;color:#8b8b8b}
#CustomerChat-infoWrite .customerChat-write>li.full>.itemDetail {overflow:visible;padding:0;}
#CustomerChat-infoWrite .customerChat-write>li.full>.itemDetail>select {width:173px;height:32px;padding-left:10px;border:1px solid #d7d7d7}
#CustomerChat-infoWrite .customerChat-write>li.full>.itemDetail>select:first-child {margin-right:10px}
#CustomerChat-infoWrite .infomationAgree-check {position:relative;padding:28px 0;text-align:center}
#CustomerChat-infoWrite .infomationAgree-check>.input {position:relative;display:inline-block;vertical-align:top}
#CustomerChat-infoWrite .infomationAgree-check>.input>input {z-index:1;position:absolute;left:0;top:0;opacity:0}
#CustomerChat-infoWrite .infomationAgree-check>.input>label {z-index:2;position:relative;display:inline-block;height:20px;padding:0 0 0 25px;font-size:15px;line-height:20px;color:#181818;background:#fff url('//image.alba.kr/common/customer_chat_bg.png') no-repeat 0 -90px}
#CustomerChat-infoWrite .infomationAgree-check>.input>input:checked+label ,
#CustomerChat-infoWrite .infomationAgree-check>.input.on>label {background-position:0 -50px}
#CustomerChat-infoWrite .infomationAgree-check .input.on input[type="checkbox"]+label  {background-position:0 -50px}
#CustomerChat-infoWrite .infomationAgree-check>.agree-check-moreView {display:inline-block;font-size:15px;line-height:20px;letter-spacing:-0.07em;vertical-align:top;color:#ffa200;text-decoration:underline}
#CustomerChat-infoWrite .infomationAgree {display:none;padding:0 0 20px}
#CustomerChat-infoWrite .infomationAgree>p {font-size:13px}
#CustomerChat-infoWrite .infomationAgree>ul>li {padding:3px 0 2px;font-size:12px;color:#000}
#CustomerChat-infoWrite .customerChat-startBtn {display:block;height:51px;font-size:20px;line-height:51px;text-align:center;color:#3c3c3c;background:#ffd100;text-decoration:none}
#CustomerChat-infoWrite .filter {z-index:999;position:fixed;left:0;top:0;width:100%;height:100%;background:#000;filter:alpha(opacity=30);opacity:0.3}

/* 채팅상담 - 시간안내 */
#CustomerChat-timeOver .customerChat-layer {width:361px;height:256px;padding:54px 32px 22px;margin:-166px 0 0 -213px;border:1px solid #c6c6c6}
#CustomerChat-timeOver .customerChat-layer * {font-weight:bold;letter-spacing:-1px;text-align:center}
#CustomerChat-timeOver .customerChat-timeInfo-guide1 {margin-bottom:12px;font-size:17px;color:#949494}
#CustomerChat-timeOver .customerChat-timeInfo-guide1>span {position:relative;top:3px;display:inline-block;width:20px;height:20px;margin-right:5px;vertical-align:top;background:url('//image.alba.kr/common/customer_chat_bg.png') no-repeat -80px -30px}
#CustomerChat-timeOver .customerChat-timeInfo-title {margin-bottom:11px;font-size:26px;letter-spacing:-0.07em;color:#955c3f}
#CustomerChat-timeOver .customerChat-timeInfo-list {margin-bottom:13px;}
#CustomerChat-timeOver .customerChat-timeInfo-list>li {margin-top:3px;font-size:15px;color:#545454}
#CustomerChat-timeOver .customerChat-timeInfo-list>li:first-child {margin-top:0}
#CustomerChat-timeOver .customerChat-timeInfo-list>li>span {position:relative;top:10px;display:inline-block;width:2px;height:2px;margin-right:5px;vertical-align:top;background:#545454}
#CustomerChat-timeOver .customerChat-timeInfo-guide2 {margin-bottom:27px;font-size:15px;color:#9e9e9e}
#CustomerChat-timeOver .customerChat-timeInfo-btn {display:block;height:51px;font-size:20px;line-height:51px;text-align:center;color:#3c3c3c;background:#ffd100}
#CustomerChat-timeOver .filter {z-index:999;position:fixed;left:0;top:0;width:100%;height:100%;background:#000;filter:alpha(opacity=30);opacity:0.3}

/* 설문조사 */
.survey-wrapper {position:fixed;bottom:100px;right:0}
.survey__icon {position:relative;display:inline-block;width:35px;height:30px;vertical-align:top;font-size:0;line-height:0;background:url('//image.alba.kr/common/w_survey.png')}
.survey__icon--pen {top:4px;width:24px;height:23px;margin-right:4px;background-position:0 0}
.survey__icon--agree {margin-bottom:8px;background-position:0 -33px}
.survey__icon--disagree {margin-bottom:8px;background-position:-45px -33px}
.survey__icon--close {position:absolute;right:10px;top:11px;width:16px;height:15px;background-position:-40px 0}
.survey__button {z-index:999999;position:fixed;bottom:100px;right:0;padding:7px 16px;font-size:12px !important;letter-spacing:-1px;line-height:32px;border-radius:25px;background:#3366cc;color:#fff !important;
	-webkit-animation: balloon 1s linear infinite;
	animation: balloon 1s linear infinite;
}
@-webkit-keyframes balloon {
	0% {bottom:100px}
	50% {bottom:90px}
	100% {bottom:100px}
}
@keyframes balloon {
	0% {bottom:100px}
	50% {bottom:90px}
	100% {bottom:100px}
}
.survey__layer {z-index:999999;position:fixed;bottom:100px;right:0;letter-spacing:-1px;text-align:left;border:1px solid #3366cc;background:#fff}
.survey__head {height:39px;padding:0 35px 0 15px;border-bottom:1px solid #3366cc;font-size:12px;line-height:39px;text-align:left;background:#3366cc;color:#fff}
.survey__body {position:relative;width:190px;padding:20px 10px}
.survey__title {padding:0 0 10px;font-size:12px;text-align:center}
/* .survey__list {*zoom:1} */
.survey__list:after {content:"";clear:both;display:table;width:100%;height:0;font-size:0;line-height:0}
.survey__item {position:relative;padding:4px 0 3px 15px;font-size:12px}
.survey__item--agree ,
.survey__item--disagree {float:left;width:50%;padding:0;text-align:center;cursor:pointer}
.survey__item--agree p,
.survey__item--disagree p {font-size:12px}
.survey__layer .survey__input {position:absolute;left:0;top:8px;margin:0}
.survey__layer .survey__label {display:block;height:20px;font-size:12px;line-height:20px}
.survey__layer .survey__label--etc {float:left;margin-right:8px}
.survey__layer .survey__input-text {max-width:132px;height:18px;padding:0;line-height:18px;overflow:hidden}
.survey__layer .survey__submit {display:block;height:30px;margin-top:10px;font-size:12px !important;line-height:30px;text-align:center;background:#534a3f;color:#fff}
.survey__layer .survey__complete {font-size:12px;line-height:1.5;text-align:center}
.survey__layer .survey__complete-bi {display:block;width:95px;margin:10px auto 0}
.survey__layer .survey__complete-bi-img {width:100%}

#WelcomeService .survey__layer {border-color:#36486c}
#WelcomeService .survey__head ,
#WelcomeService .survey__button {background:#36486c}

/* 업직종 카테고리 개편(PMS-49741) - 업종별 아이콘 개편 */
.icon-kind {display:inline-block;width:25px;height:auto;vertical-align:top !important}
.icon-kind > img {width:100%;image-rendering:-webkit-optimize-contrast}

/* layerpop */
.layer-pop {display:none;z-index:99999;position:fixed;top:0;right:0;bottom:0;left:0}
.layer-pop.on {display:block}
.layer-pop__wrap {z-index:99999;position:fixed;width:440px;top:50%;left:50%;border-radius:8px;background-color:#fff;transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%)}
.layer-pop__title {height:69px;padding:0 70px 0 30px;border-bottom:1px solid #ddd;font-weight:normal;font-size:24px;font-family:HGSoftGGothicssi60g;letter-spacing:0;line-height:71px}
.layer-pop__title.center {text-align:center}
.layer-pop__contents {padding:30px 30px 20px}
.layer-pop__action {padding:20px 30px 30px;text-align:center}
.layer-pop__button {display:inline-block;box-sizing:border-box;min-width:140px;height:50px;margin:0 2px;padding:0 50px;border-radius:4px;font-size:18px;font-family:HGSoftGGothicssi60g;letter-spacing:0;line-height:50px;text-align:center;text-decoration:none !important;color:#fff !important;background-color:#0076ff}
.layer-pop__button.cancel {border:1px solid #0076ff;line-height:48px;color:#0076ff !important;background-color:#fff}
.layer-pop__term {padding:0 30px;line-height:56px;border-radius:0 0 8px 8px;color:#999;background-color:#f7f7f7}
.layer-pop__input {position:relative;display:inline-block}
.layer-pop__input input[type="checkbox"] {position:absolute;left:0;margin:0;cursor:pointer;opacity:0}
.layer-pop__input label {display:inline-block;padding:0 0 0 30px;font-size:15px;line-height:22px;white-space:nowrap;cursor:pointer;color:#222;background:url('//image.alba.kr/m/input_checkbox_off.png') no-repeat;background-size:22px 22px}
.layer-pop__input input[type="checkbox"]:checked + label {background-image:url('//image.alba.kr/m/input_checkbox_on.png')}
.layer-pop__close {position:absolute;top:0;right:0;width:69px;height:69px;padding:0;border-radius:0 8px 0 0;font-size:0;text-align:center;cursor:pointer;color:transparent;background-color:#fff}
.layer-pop__close::before,
.layer-pop__close::after {content:"";position:absolute;top:50%;left:50%;width:1px;height:28px;background-color:#666}
.layer-pop__close::before {transform:translate(-50%, -50%) rotate(-45deg);-webkit-transform:translate(-50%, -50%) rotate(-45deg)}
.layer-pop__close::after {transform:translate(-50%, -50%) rotate(45deg);-webkit-transform:translate(-50%, -50%) rotate(45deg)}

.up-nudge__guide {margin-bottom:15px;font-size:18px;line-height:1.5;text-align:center}
.up-nudge__guide>span {display:block;margin-top:8px;font-size:14px;color:#666}
.up-nudge__price {padding:23px 0;text-align:center;background-color:#f7f7f7}
.up-nudge__price--coupon {padding:11px 0 10px}
.up-nudge__price>img {image-rendering:-webkit-optimize-contrast}
.up-nudge__price>span {display:block;margin-top:7px;font-size:13px;color:#666}

.goodsMovie {width:720px;border-radius:0}
.goodsMovie .layer-pop__close {right:-60px;width:60px;height:60px;border-radius:0;background-color:rgba(0,0,0,0.4)}
.goodsMovie .layer-pop__close::before,
.goodsMovie .layer-pop__close::after {height:44px;background-color:#fff}
